* {
    background-color: #eae4dd;
    box-sizing: border-box;
    font-family: Georgia, sans-serif, Arial;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-left {
    width: 30%;
    height: 100vh;
    background-image: url("./images/hero-img.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    position: relative;
}

.hero-div {
    position: absolute;
    top: 25%;
    width: 100%;
    background-color: rgba(234, 228, 221, 0.7);
}

.hero-text {
    font-family: "Pattaya", monospace, cursive;
    color: #5c4033;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    background: transparent;
}

.img-source {
    position: absolute;
    top: 93%;
    box-sizing: border-box;
    right: 7%;
    background: transparent;
    font-weight: bold;
    color: black;
}

.image-link {
    background: transparent;
}